* {
    box-sizing: border-box;
}

body,
ul {
    margin: auto;
    padding: 0;
    width: 90%;
    min-width: 500px;
    list-style: none;
    background-image: url('levy.png');
    background-repeat: repeat;
    background-size: 80px;
}

body:has(dialog[open]) {}

dialog {
    width: 400px;
    height: 500px;
    padding: 20px;
    margin: 30px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: white;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
}


nav {
    display: block;
    background-color: #333;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}


nav a {
    float: left;
    text-align: center;
    padding: 23px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: goldenrod;
    border-radius: 20px;
}

nav a:active {
    color: rgb(156, 119, 26);
}

#kasvu {
    margin: auto;
    display: block;
    float: left;
    padding: 20px;
    padding-right: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: goldenrod;
}


.about {
    min-width: 500px;
    max-width: 1000px;
    margin: 300px auto 20px;
    background-color: rgb(154, 154, 154);
    padding: 50px;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#ravintola {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#kana {
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 10;
    width: 100px;
    height: auto;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}