* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --background-color: rgb(192, 192, 192);
    --theme-color: rgb(218, 165, 32);
    --select-color: rgb(156, 119, 26);
    --box-color: rgb(154, 154, 154);
    --dark-color: rgb(51, 51, 51);
}

body {
    margin: 0;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

main {
    height: 100%;
    overflow: hidden;
}

dialog {
    width: 400px;
    height: 460px;
    padding: 20px;
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: var(--dark-color);
    color: white;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: none;
}

fieldset {
    border: none;
}

fieldset label {
    display: block;
    margin: 10px auto;
    font-size: 20px;
    color: var(--theme-color);
}

fieldset input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: block;
    width: 80%;
    transition: border-color 0.5s;
}

fieldset input:focus {
    outline: none;
}

fieldset input:invalid {
    border: 2px solid red;
}

fieldset input:valid {
    border: 2px solid green;
}

fieldset button {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--theme-color);
    color: white;
    border: none;
    cursor: pointer;
    clear: both;
    display: block;
    margin-top: 20px;
}

fieldset button:hover {
    background-color: var(--select-color);
}

#hero-image {
    width: 100%;
    height: 30vh;
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba');
    background-size: cover;
    background-position: center center;
}


nav {
    display: block;
    height: 64px;
    width: 100%;
    margin: 0;
    background-color: var(--dark-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    text-align: center;
    padding: 23px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: var(--theme-color);
    border-radius: 20px;
}

nav a:active {
    color: var(--select-color);
}

#kasvu {
    float: left;
    margin: 0;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: var(--theme-color);
}

#login {
    float: right;
    right: 20px;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    height: 64px;
    color: var(--theme-color);
    background-color: transparent;
    border: none;
}

#about {
    position: relative;
}

.box {
    margin: 80px auto;
    max-width: 1000px;
    background-color: var(--box-color);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#ravintola {
    float: left;
    margin-right: 20px;
    margin-left: -20px;
    margin-top: -20px;
    width: 210px;
    height: auto;
    border-radius: 10px;
}

#kana {
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 10;
    width: 100px;
    height: auto;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 768px) {
    nav span {
        display: none;
    }

    #kasvu {
        padding: 20px;
    }
}

@media screen and (max-width: 425px) {

    #ravintola {
        float: none;
        margin: auto;
        width: 100%;
    }

    #kana {
        display: none;
    }

}