* {
    box-sizing: border-box;
}

body,
ul {
    margin: 0;
    padding: 0;
    width: 90%;
    min-width: 500px;
    margin: auto;
}

nav {
    display: block;
    background-color: #333;
    overflow: hidden;
    margin: auto;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

nav a {
    float: left;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: goldenrod;
    border-radius: 20px;
}

nav a:active {
    color: rgb(156, 119, 26);
}

#kasvu {
    display: block;
    float: left;
    padding: 11px 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: goldenrod;
    background-color: rgb(70, 70, 70);
}


.about {
    min-width: 500px;
    max-width: 1000px;
    margin: 300px auto 20px;
    background-color: rgb(154, 154, 154);
    padding: 50px;
    position: relative;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

#ravintola {
    float: left;
    margin-right: 20px;
    width: 300px;
    height: auto;
    border-radius: 10px;
}

#kana {
    position: absolute;
    top: -50px;
    right: 20px;
    z-index: 10;
    width: 100px;
    height: auto;
}

.about::after {
    content: "";
    display: table;
    clear: both;
}