* {
    box-sizing: border-box;
}

body {}

.box {
    height: 100px;
    width: 100px;
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    color: aliceblue;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
    color: black;
}

#orange {
    background-color: orange;
}

.clear {
    clear: both;
}

/* img */
img {}

/* container */
.container {}

/* relative and absolute positioning with blue */
#blue {}

#important {
    color: black;
}

.info {
    color: red;
}

p {
    color: blue;
}

p {
    color: green;
}